{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block title %}Page Under Construction{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Page Under Construction</h1>
                <p>Sorry, this page is under construction.</p>
            </div>
        </div>
    </div>
{% endblock %}