{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row text-center mt-0 mb-0">
    <h2 class="logo-font page-headers">Checkout</h2>
</div>
<!-- Checkout form -->
<section class="bg-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 mb-4">
                {% if not request.user.is_authenticated %}
                <div class="card mb-4 border border-2 shadow-0">
                    <div class="p-4 d-flex justify-content-between">
                        <div class="">
                            <h5>Have an account?</h5>
                            <p class="mb-0 text-wrap ">Register or login to your account to save information to your profile.</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-center flex-column flex-md-row">
                            <a href="{% url 'account_signup' %}" class="btn btn-outline-primary me-0 me-md-2 mb-2 mb-md-0 w-100">Register</a>
                            <a href="{% url 'account_login' %}" class="btn btn-primary shadow-0 text-nowrap w-100">Sign in</a>
                        </div>
                    </div>
                </div>
                {% endif %}

                <!-- Checkout -->
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <div class="card shadow-0 border border-2">
                        <div class="p-4">
                            <h5 class="card-title mb-3">Checkout</h5>
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <p class="mb-0">First name</p>
                                    <div class="form-outline">
                                        {{ order_form.first_name | as_crispy_field }}
                                    </div>
                                </div>

                                <div class="col-6">
                                    <p class="mb-0">Last name</p>
                                    <div class="form-outline">
                                        {{ order_form.last_name | as_crispy_field }}
                                    </div>
                                </div>

                                <div class="col-6 mb-3">
                                    <p class="mb-0">Phone</p>
                                    <div class="form-outline">
                                        {{ order_form.phone_number | as_crispy_field }}
                                    </div>
                                </div>

                                <div class="col-6 mb-3">
                                    <p class="mb-0">Email</p>
                                    <div class="form-outline">
                                        {{ order_form.email_address | as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                            <hr class="my-4">

                            <h5 class="card-title mb-3">Shipping info</h5>

                            <div class="row mb-3">
                                <div class="col-lg-4 mb-3">
                                    <!-- Default checked radio -->
                                    <div class="form-check h-100 border rounded-3">
                                        <div class="p-3">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="flexRadioDefault1" checked>
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Standart delivery <br>
                                                <small class="text-muted">3-4 days via PostNord </small>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <!-- Default radio -->
                                    <div class="form-check h-100 border rounded-3">
                                        <div class="p-3">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="flexRadioDefault2">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Express Delivery <br>
                                                <small class="text-muted">1-3 days via DHL </small>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <!-- Default radio -->
                                    <div class="form-check h-100 border rounded-3">
                                        <div class="p-3">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="flexRadioDefault3">
                                            <label class="form-check-label" for="flexRadioDefault3">
                                                Self pick-up <br>
                                                <small class="text-muted">Come to our shop </small>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-8 mb-3">
                                    <p class="mb-0">Address 1</p>
                                    <div class="form-outline">
                                        {{ order_form.street_address1 | as_crispy_field }}
                                    </div>
                                </div>

                                <div class="col-sm-4 mb-3">
                                    <p class="mb-0">Building Number 1</p>
                                    <div class="form-outline">
                                        {{ order_form.building_number1 | as_crispy_field }}
                                    </div>
                                </div>

                                <div class="col-sm-8 mb-3">
                                    <p class="mb-0">Address 2</p>
                                    <div class="form-outline">
                                        {{ order_form.street_address2 | as_crispy_field }}
                                    </div>
                                </div>

                                <div class="col-sm-4 mb-3">
                                    <p class="mb-0">Building Number 2</p>
                                    <div class="form-outline">
                                        {{ order_form.building_number2 | as_crispy_field }}
                                    </div>
                                </div>

                                <div class="col-sm-4 mb-3">
                                    <p class="mb-0">City</p>
                                    <div class="form-outline">
                                        {{ order_form.city | as_crispy_field }}
                                    </div>
                                </div>

                                <div class="col-sm-4 col-6 mb-3">
                                    <p class="mb-0">Postal code</p>
                                    <div class="form-outline">
                                        {{ order_form.postal_code | as_crispy_field }}
                                    </div>
                                </div>

                                <div class="col-sm-4 col-6 mb-3">
                                    <p class="mb-0">Select Country</p>
                                    <div class="form-outline">
                                        {{ order_form.country | as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                            {% if request.user.is_authenticated %}
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" id="id-save-info" name="save-info">
                                <label class="form-check-label" for="id-save-info">Save this address</label>
                            </div>
                            {% endif %}
                            <hr class="my-4">

                            <h5 class="card-title mb-3">Payment card details</h5>
                            <!-- Stripe Elements Placeholder -->
                            <fieldset class="stripe-style-input form-outline">
                                <!-- A Stripe Element is inserted here. -->
                                <div class="mb-3 form-outline" id="card-element"></div>
        
                                <!-- Used to display form errors. -->
                                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                                <!-- Pass the client secret to the view so we can get the payment intent id -->
                                <input type="hidden" value="{{ client_secret }}" name="client_secret">
                            </fieldset>

                            <hr class="my-4">

                            <h6 class="mb-3 text-muted">You can read our Privacy Policy <a href="https://www.termsfeed.com/live/4b638e8a-0cd3-46b2-89fa-6fe5a9c0ca5c" 
                                alt="Opens Privacy Policy on new page" target="_blank">here</a>,
                                and our Billing Terms and Conditions <a href="https://www.termsandconditionsgenerator.com/live.php?token=QnmZHP00pP0fFt8W9ZtCBHpsnBh8n4T6" 
                                alt="Opens Terms and Conditons on new page" target="_blank">here.</a>
                            </h6>


                            <div class="float-end submit-button">
                                <a href="{% url 'view_cart' %}" class="btn btn-secondary shadow-0" style="background-color: blueviolet;">
                                    <i class="fa-solid fa-angles-left" style="color: #ffffff;"></i> Back to Cart </a>
                                <button id="submit-button" onclick="processPayment()" class="btn btn-success shadow-0" aria-label="Complete order button">
                                    <i class="fa-solid fa-credit-card"></i> 
                                    <span class="fw-bold">Complete Order</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Cart Summary -->
            <div class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end">
                <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px;">
                    <div class="card mb-3 border shadow-0">
                        <div class="card-body">
                            <form class="form" method="post" action="{% url 'apply_coupon' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="form-label">Have Gift Coupon?</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control border" name="coupon_code" placeholder="Enter your coupon code">
                                        <button class="btn btn-light border" type="submit" aria-label="Apply coupon button">Apply</button>
                                    </div>
                                </div>
                            </form>                    
                        </div>
                    </div>
                    <div class="card mb-4 border border-2 shadow-0">
                        <div class="p-4">
                            <h5 class="mb-3">Cart Summary:</h5>
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Cart Total:</p>
                                <p class="mb-2">{{ total }} <i class="fa-solid fa-euro-sign fa-sm"></i></p>
                            </div>

                            {% if order.coupon_code %}
                                <div class="d-flex justify-content-between">
                                    <p class="mb-2">Gift Coupon Discount:</p>
                                    <p class="mb-2 text-danger">- {{ coupon.coupon_value }} <i class="fa-solid fa-euro-sign fa-sm"></i></p>
                                </div>
                            {% endif %}

                            <div class="d-flex justify-content-between" id="taxes-row">
                                <p class="mb-2">TAX:</p>
                                <p class="mb-2">{{ tax|floatformat:2 }} <i class="fa-solid fa-euro-sign fa-sm"></i></p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Delivery Cost:</p>
                                <p class="mb-2">{{ delivery }} <i class="fa-solid fa-euro-sign fa-sm"></i></p>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <p class="mb-2"><strong>Grand Total (incl. TAX):</strong></p>
                                <p class="mb-2 fw-bold">{{ grand_total|floatformat:2}} <i class="fa-solid fa-euro-sign fa-sm"></i></p>
                            </div>

                            <hr>
                            <h5 class="text-dark my-4">Items in cart:</h5>
                            {% for item in cart_items %}
                            <div class="d-flex align-items-center mb-4">
                                <div class="me-3 position-relative">
                                    <span
                                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                                        1
                                    </span>
                                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}"
                                        style="height: 96px; width: 96x;" class="img-sm rounded border">
                                </div>
                                <div class="">
                                    <a class="nav-link" href="{% url 'product_detail' item.item_id %}" style="text-decoration: none;">
                                        {{ item.product.name }}
                                    </a>
                                    <text class="h6 total-price" data-row-id="{{ item.product.id }}">Total: {{ item.product.price|multiply:item.quantity }}</text> <i class="fa-solid fa-euro-sign fa-sm"></i>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}