<div id="carouselExampleCaptions" class="carousel slide carousel-fade mx-auto mt-2" data-bs-ride="carousel" style="width: 60%;">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ MEDIA_URL }}carousel-images/haloween-carousel-image.jpg" class="d-block w-100" alt="haloween carousel image">
            <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ MEDIA_URL }}olympic-percussion-for-all.jpg" class="d-block w-100" alt="subzero carousel image">
            <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ MEDIA_URL }}pre-monitors-new-launch.jpg" class="d-block w-100" alt="yamaha carousel image">
            <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ MEDIA_URL }}subzero-carousel-image.jpg" class="d-block w-100" alt="yamaha carousel image">
            <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ MEDIA_URL }}yamaha-carousel-image.jpg" class="d-block w-100" alt="yamaha carousel image">
            <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p></p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>