<nav class="navbar bg-body-tertiary d-block d-lg-none">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Genstar Music Store</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close offcanvas menu"></button>
            </div>

            <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
                <form class="form" method="GET" action="">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control form-control btn btn-black border border-black rounded-0" type="submit" aria-label="Mobile search button">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Search panel -->
            <div class="border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
                <form class="form d-flex mt-3" method="GET" action="{% url 'products' %}" role="search">
                    <div class="input-group w-100">
                        <input class="form-control me-2 border border-black rounded-2" type="text" name="q"
                            placeholder="Search your instrument..." aria-label="Search your instrument...">
                        <button class="from-control btn btn-black border border-black rounded-2" type="submit" aria-label="mobile search submit button">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </form>
            </div>

            <!-- Main navigation -->

            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <ul class="nav-item dropdown">
                        <a class="logo-font font-weight-bold text-black nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" id="all-products-link" aria-haspopup="true">
                            <i class="fa-solid fa-filter" style="color: blueviolet;"></i> All Products
                        </a>
                        <ul class="dropdown-menu border-0" aria-labelledby="all-products-link">
                            <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                            <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                            <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                            <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                        </ul>
                        
                        <a class="logo-font font-weight-bold text-black nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" id="specials-link" aria-haspopup="true">
                            <i class="fa-brands fa-ideal" style="color: blueviolet;"></i> Special Offers
                        </a>
                        <ul class="dropdown-menu border-0" aria-labelledby="specials-link">
                            <a href="" class="dropdown-item">New Arrivals</a>
                            <a href="" class="dropdown-item">Deals</a>
                            <a href="" class="dropdown-item">Clearance</a>
                            <a href="" class="dropdown-item">All Specials</a>
                        </ul>

                        <a class="logo-font font-weight-bold text-black nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" id="guitars-and-basses" aria-haspopup="true">
                            <i class="fa-solid fa-guitar" style="color: blueviolet;"></i> Guitars & Basses
                        </a>
                        <ul class="dropdown-menu border-0" aria-labelledby="specials-link">
                            <a href="{% url 'products_in_category' category_id=7 %}" class="dropdown-item">Acoustic Guitars</a>
                            <a href="{% url 'products_in_category' category_id=8 %}" class="dropdown-item">Electric Guitars</a>
                            <a href="{% url 'products_in_category' category_id=9 %}" class="dropdown-item">Bass Guitars</a>
                        </ul>

                        <a class="logo-font font-weight-bold text-black nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" id="guitars-and-basses" aria-haspopup="true">
                            <i class="fa-solid fa-drum" style="color: blueviolet;"></i> Drums & Percussion
                        </a>
                        <ul class="dropdown-menu border-0" aria-labelledby="specials-link">
                            <a href="{% url 'products_in_category' category_id=10 %}" class="dropdown-item">Acoustic Drums</a>
                            <a href="{% url 'products_in_category' category_id=11 %}" class="dropdown-item">Electronic Drums</a>
                            <a href="{% url 'products_in_category' category_id=11 %}" class="dropdown-item">Percussion</a>
                        </ul>

                        <a class="logo-font font-weight-bold text-black nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" id="guitars-and-basses" aria-haspopup="true">
                            <i class="fa-solid fa-music" style="color: blueviolet;"></i> Keyboards & Synths
                        </a>
                        <ul class="dropdown-menu border-0" aria-labelledby="specials-link">
                            <a href="{% url 'products_in_category' category_id=13 %}" class="dropdown-item">Digital Pianos</a>
                            <a href="" class="dropdown-item">Keyboards</a>
                            <a href="" class="dropdown-item">Midi Keyboards</a>
                        </ul>

                        <a class="logo-font font-weight-bold text-black nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" id="guitars-and-basses" aria-haspopup="true">
                            <i class="fa-solid fa-music" style="color: blueviolet;"></i> Orchestral Instruments
                        </a>
                        <ul class="dropdown-menu border-0" aria-labelledby="specials-link">
                            <a href="" class="dropdown-item">Woodwinds</a>
                            <a href="" class="dropdown-item">Strings</a>
                            <a href="" class="dropdown-item">Brasses</a>
                            <a href="" class="dropdown-item">Concert Percussion</a>
                        </ul>

                        <a class="logo-font font-weight-bold text-black nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" id="guitars-and-basses" aria-haspopup="true">
                            <i class="fa-solid fa-volume-high" style="color: blueviolet;"></i> Live Sound & Lighting
                        </a>
                        <ul class="dropdown-menu border-0" aria-labelledby="specials-link">
                            <a href="" class="dropdown-item">PA Systems</a>
                            <a href="" class="dropdown-item">Mixers</a>
                            <a href="" class="dropdown-item">Microphones</a>
                            <a href="" class="dropdown-item">Lighting</a>
                        </ul>

                        <a class="logo-font font-weight-bold text-black nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" id="guitars-and-basses" aria-haspopup="true">
                            <i class="fa-solid fa-microphone-lines" style="color: blueviolet;"></i> Studio & Recording
                        </a>
                        <ul class="dropdown-menu border-0" aria-labelledby="specials-link">
                            <a href="" class="dropdown-item">Audio Interfaces</a>
                            <a href="" class="dropdown-item">Studio Monitors</a>
                            <a href="" class="dropdown-item">Studio Mixers</a>
                            <a href="" class="dropdown-item">Studio Microphones</a>
                        </ul>

                        <!-- Login/Register links -->

                            {% if request.user.is_authenticated %}
                            <a class="logo-font font-weight-bold text-black nav-link dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" id="guitars-and-basses" aria-haspopup="true">
                                <i class="fas fa-user fa-lg"></i> My Account
                            </a>
                            <ul class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_superuser %}
                                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{% url 'view_profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                <a class="logo-font font-weight-bold text-black nav-link dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false" id="guitars-and-basses" aria-haspopup="true">
                                    <i class="fas fa-user fa-lg"></i> Login / Register
                                </a>
                                <ul class="dropdown-menu border-0" aria-labelledby="user-options">
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                </ul>
                                {% endif %}
                            </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

