<!-- Dropdown Mega Menu -->   
<div class="navbar-dropdown rounded-2 mb-0">
    <div class="dropdown-low">
        <button class="dropbtn rounded-1">Guitars & Basses
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <div class="row">
                <div class="column">
                    <h3>Acoustic Guitars</h3>
                    <a href="{% url 'products_in_category' category_id=28 %}">Guitars</a>
                    <a href="{% url 'products_in_category' category_id=29 %}">Amplifiers</a>
                    <a href="{% url 'products_in_category' category_id=30 %}">Accessories</a>
                    <a href="{% url 'products_in_category' category_id=7 %}">All Acoustic Products</a>
                </div>
                <div class="column">
                    <h3>Electric Guitars</h3>
                    <a href="{% url 'products_in_category' category_id=31 %}">Guitars</a>
                    <a href="{% url 'products_in_category' category_id=32 %}">Amplifiers</a>
                    <a href="{% url 'products_in_category' category_id=33 %}">Pedals</a>
                    <a href="{% url 'products_in_category' category_id=34 %}">Accessories</a>
                </div>
                <div class="column">
                    <h3>Bass Guitars</h3>
                    <a href="{% url 'products_in_category' category_id=35 %}">Guitars</a>
                    <a href="{% url 'products_in_category' category_id=36 %}">Amplifiers</a>
                    <a href="{% url 'products_in_category' category_id=37 %}">Pedals</a>
                    <a href="{% url 'products_in_category' category_id=38 %}">Accessories</a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown-low">
        <button class="dropbtn rounded-1">Drums & Percussion
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <div class="row">
                <div class="column">
                    <h3>Acoustic Drums</h3>
                    <a href="{% url 'products_in_category' category_id=39 %}">Drum Kits</a>
                    <a href="{% url 'products_in_category' category_id=40 %}">Individual Drums</a>
                    <a href="{% url 'products_in_category' category_id=41 %}">Cymbals</a>
                    <a href="{% url 'products_in_category' category_id=42 %}">Accessories</a>
                </div>
                <div class="column">
                    <h3>Electronic Drums</h3>
                    <a href="{% url 'products_in_category' category_id=43 %}">Drum Kits</a>
                    <a href="{% url 'products_in_category' category_id=44 %}">Accessories</a>
                    <a href="{% url 'products_in_category' category_id=45 %}">Drum Pads</a>
                </div>
                <div class="column">
                    <h3>Percussion</h3>
                    <a href="{% url 'products_in_category' category_id=46 %}">Classic Percussion</a>
                    <a href="{% url 'products_in_category' category_id=47 %}">World Percussion</a>
                    <a href="{% url 'products_in_category' category_id=48 %}">Other Percussion</a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown-low">
        <button class="dropbtn rounded-1">Pianos & Keyboards
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <div class="row">
                <div class="column">
                    <h3>Digital Pianos</h3>
                    <a href="{% url 'products_in_category' category_id=49 %}">Upright Pianos</a>
                    <a href="{% url 'products_in_category' category_id=50 %}">Stage Pianos</a>
                    <a href="{% url 'products_in_category' category_id=51 %}">Grand Pianos</a>
                    <a href="{% url 'products_in_category' category_id=52 %}">Piano Packages</a>
                </div>
                <div class="column">
                    <h3>Keyboards</h3>
                    <a href="{% url 'products_in_category' category_id=53 %}">Portable</a>
                    <a href="{% url 'products_in_category' category_id=54 %}">Workstations</a>
                    <a href="{% url 'products_in_category' category_id=55 %}">Kids Keyboards</a>
                </div>
                <div class="column">
                    <h3>Midi Keyboards</h3>
                    <a href="{% url 'products_in_category' category_id=13 %}">Midi Keyboards</a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown-low">
        <button class="dropbtn rounded-1">Orchestral Instruments
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <div class="row">
                <div class="column">
                    <h3>Woodwinds</h3>
                    <a href="{% url 'products_in_category' category_id=56 %}">Saxophones</a>
                    <a href="{% url 'products_in_category' category_id=57 %}">Clarinets</a>
                    <a href="{% url 'products_in_category' category_id=58 %}">Flutes</a>
                    <a href="{% url 'products_in_category' category_id=59 %}">Accessories</a>
                </div>
                <div class="column">
                    <h3>Strings</h3>
                    <a href="{% url 'products_in_category' category_id=60 %}">Violins</a>
                    <a href="{% url 'products_in_category' category_id=61 %}">Cellos</a>
                    <a href="{% url 'products_in_category' category_id=62 %}">Double Bass</a>
                    <a href="{% url 'products_in_category' category_id=63 %}">Violas</a>
                    <a href="{% url 'products_in_category' category_id=64 %}">Accessories</a>
                </div>
                <div class="column">
                    <h3>Brasses</h3>
                    <a href="{% url 'products_in_category' category_id=65 %}">Trombones</a>
                    <a href="{% url 'products_in_category' category_id=66 %}">Trumpets</a>
                    <a href="{% url 'products_in_category' category_id=67 %}">Cornets</a>
                    <a href="{% url 'products_in_category' category_id=68 %}">French Hornes</a>
                    <a href="{% url 'products_in_category' category_id=69 %}">Accessories</a>
                </div>
                <div class="column">
                    <h3>Percussion</h3>
                    <a href="{% url 'products_in_category' category_id=70 %}">Xylophones</a>
                    <a href="{% url 'products_in_category' category_id=71 %}">Gongs</a>
                    <a href="{% url 'products_in_category' category_id=72 %}">Tambourines</a>
                    <a href="{% url 'products_in_category' category_id=73 %}">Cymbals</a>
                    <a href="{% url 'products_in_category' category_id=74 %}">Accessories</a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown-low">
        <button class="dropbtn rounded-1">Live sound & Lighting
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <div class="row">
                <div class="column">
                    <h3>PA Systems</h3>
                    <a href="{% url 'products_in_category' category_id=75 %}">Complete</a>
                    <a href="{% url 'products_in_category' category_id=76 %}">Portable</a>
                    <a href="{% url 'products_in_category' category_id=77 %}">Column</a>
                </div>
                <div class="column">
                    <h3>PA Mixers</h3>
                    <a href="{% url 'products_in_category' category_id=78 %}">Analog</a>
                    <a href="{% url 'products_in_category' category_id=79 %}">Digital</a>
                    <a href="{% url 'products_in_category' category_id=80 %}">Rack</a>
                </div>
                <div class="column">
                    <h3>Microphones</h3>
                    <a href="{% url 'products_in_category' category_id=81 %}">Vocal</a>
                    <a href="{% url 'products_in_category' category_id=82 %}">Wireless</a>
                    <a href="{% url 'products_in_category' category_id=83 %}">Instrument</a>
                    <a href="{% url 'products_in_category' category_id=84 %}">Packages</a>
                </div>
                <div class="column">
                    <h3>Lighting Systems</h3>
                    <a href="{% url 'products_in_category' category_id=85 %}">Lights</a>
                    <a href="{% url 'products_in_category' category_id=86 %}">Lighting Effects</a>
                    <a href="{% url 'products_in_category' category_id=87 %}">Effect Machines</a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown-low">
        <button class="dropbtn rounded-1">Studio & Recording
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <div class="row">
                <div class="column">
                    <h3>Audio Interfaces</h3>
                    <a href="{% url 'products_in_category' category_id=88 %}">USB</a>
                    <a href="{% url 'products_in_category' category_id=89 %}">Firewire</a>
                    <a href="{% url 'products_in_category' category_id=90 %}">Thunderbolt</a>
                </div>
                <div class="column">
                    <h3>Audio Mixers</h3>
                    <a href="{% url 'products_in_category' category_id=91 %}">Analog</a>
                    <a href="{% url 'products_in_category' category_id=92 %}">Digital</a>
                    <a href="{% url 'products_in_category' category_id=93 %}">USB</a>
                    <a href="{% url 'products_in_category' category_id=94 %}">Rack</a>
                </div>
                <div class="column">
                    <h3>Studio Monitors</h3>
                    <a href="{% url 'products_in_category' category_id=99 %}">Active</a>
                    <a href="{% url 'products_in_category' category_id=100 %}">Passive</a>
                    <a href="{% url 'products_in_category' category_id=101 %}">Monitor Controls</a>
                </div>
                <div class="column">
                    <h3>Microphones</h3>
                    <a href="{% url 'products_in_category' category_id=95 %}">Condenser</a>
                    <a href="{% url 'products_in_category' category_id=96 %}">Dynamic</a>
                    <a href="{% url 'products_in_category' category_id=97 %}">USB</a>
                    <a href="{% url 'products_in_category' category_id=98 %}">Packages</a>
                </div>
            </div>
        </div>
    </div>
</div>