<div id="mobile-logo" class="col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left d-block d-lg-none">
    <a href="{% url 'index' %}" class="nav-link main-logo-link">
        <h2 class="logo-font my-0 main-logo"><strong><i class="fa-solid fa-music" style="color: #9d00e6;"></i> Genstar Music Store</strong></h2>
    </a>
</div>

<!-- Wishlist -->
{% if user.is_authenticated %}
    <ul class="list-inline-item dropdown d-block d-lg-none">
        <li style="list-style-type: none;">
            <a class="nav-link d-block d-lg-none" href="{% url 'wishlist_test' %}">
                <div class="text-center">
                    <div>
                        <i class="fas fa-solid fa-heart"></i>
                    </div>
                    <p class="my-0">Wishlist</p>
                </div>
            </a>
        </li>
    </ul>
{% endif %}

<ul class="list-inline-item basket">
    <li style="list-style-type: none;">
        <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none" href="{% url 'view_cart' %}">
            <div class="text-center">
                <div>
                    <i class="fas fa-shopping-bag"></i>
                </div>
                <p class="my-0">
                    {% if grand_total %}
                        <i class="fa-solid fa-euro-sign"></i> {{ grand_total|floatformat:2 }}
                    {% else %}
                        <i class="fa-solid fa-euro-sign"></i> 0.00
                    {% endif %}
                </p>
            </div>
        </a>
    </li>
</ul>