{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}

<div class="container">
    <div class="col">
        <div class="col-md-4 mt-3 offset-md-4 text-center mb-5">

            <h1>{% trans "Password Changed" %}</h1>
            <hr>

            <h5>Redirecting to <a href="{% url 'account_login' %}">sign in</a> page in <span id="countdown">5</span> seconds...</h5>
            <br>
            <h6>If redirecting does not work, click this link <a href="{% url 'account_login' %}">Sign In</a> to open the login page.</h6>

            <script>
                var seconds = 5;

                function countdown() {
                    document.getElementById('countdown').innerHTML = seconds;
                    if (seconds == 0) {
                        window.location.href = "{% url 'account_login' %}";
                    } else {
                        seconds--;
                        setTimeout(countdown, 1000); // 1000 milliseconds = 1 second
                    }
                }

                // Start the countdown when the page loads
                countdown();
            </script>

        </div>
    </div>
</div>


{% endblock content %}
