{% extends "base.html" %}
{% load static %}
{% load breadcrumb %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="breadcrumb" id="breadcrumb">
    {% product_breadcrumb product as breadcrumbs %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="margin-top: 15px;">
                {% for crumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ crumb.url }}">{{ crumb.name }}</a></li>
                {% endfor %}
            </ol>
        </nav>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5 border">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <h3 class="title text-dark">
                    {{ product.name }}
                </h3>
                <div class="d-flex flex-row my-3">
                    <div class="col-md-4 me-2">
                        {% if product.average_rating %}
                            <strong>Average Rating: {{ product.average_rating|default:0|floatformat:2 }}</strong>
                        {% else %}
                            <strong>No rating yet.</strong>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                    {% if product.quantity_in_stock %}
                    <p class="text-success mb-0 fw-bold in-stock-text">{{ product.quantity_in_stock }} in stock</p>
                    {% else %}
                    <p class="text-danger mb-0 fw-bold out-of-stock-text">Out of Stock</p>
                    {% endif %}
                    </div>
                </div>

                <div class="mb-3">
                    <p class="lead text-left fw-bold mt-0" style="font-size: 30px;"><i class="fa-solid fa-euro-sign"></i> {{ product.price }}</p>
                </div>
                <div>
                    <h6 class="title text-dark fw-bold">
                        Features:
                    </h6>
                    <dl>
                        {{ product.short_description|safe }}
                    </dl>
                </div>

                <div class="row">
                    <dl>
                        <dt class="col-3">Type:</dt>
                        <dd class="col-9">{{ product.product_type }}</dd>

                        <dt class="col-3">Color:</dt>
                        <dd class="col-9">{{ product.product_color }}</dd>

                        {% if product.product_material %}
                        <dt class="col-3">Material:</dt>
                        <dd class="col-9">{{ product.product_material }}</dd>
                        {% else %}
                        <dt class="col-3">Material:</dt>
                        <dd class="col-9"> N/A </dd>
                        {% endif %}

                        <dt class="col-3">Brand:</dt>
                        <dd class="col-9">{{ product.product_brand }}</dd>
                    </dl>
                </div>
                <!-- Rating form -->
                <form method="post" action="{% url 'submit_review' product_id=product.id %}">
                    {% csrf_token %}
                    <label><strong>Rate the product:</strong></label>
                    <div>
                        <input type="radio" id="id_rating_1" name="rating" value="1">
                        <label for="id_rating_1">1</label>
                
                        <input type="radio" id="id_rating_2" name="rating" value="2">
                        <label for="id_rating_2">2</label>
                
                        <input type="radio" id="id_rating_3" name="rating" value="3">
                        <label for="id_rating_3">3</label>
                
                        <input type="radio" id="id_rating_4" name="rating" value="4">
                        <label for="id_rating_4">4</label>
                
                        <input type="radio" id="id_rating_5" name="rating" value="5">
                        <label for="id_rating_5">5</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm" style="background-color: blueviolet;" aria-label="submit rating button">Submit Rating</button>
                </form>
                
                <!-- Edit and delete product buttons-->
                {% if user.is_authenticated and user.is_staff %}
                <div class="row mt-3">
                    <div class="col-3">
                        <a href="{% url 'edit_product' product.id %}" class="btn btn-primary btn-sm mt-2"
                            style="background-color: blueviolet;">Edit Product</a>
                    </div>
                    <div class="col-3">
                        <a href="{% url 'delete_product' product.id %}" class="btn btn-danger btn-sm mt-2">Delete
                            Product</a>
                    </div>
                </div>
                {% endif %}

                <hr>
                {% include 'products/quantity-form-products.html' %}
            </div>
        </div>
    </div>
    <hr>
    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
        <div class="product-details-container mb-5 mt-md-5">
            {{ product.description|safe }}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'includes/quantity-input-script.html' %}
{% endblock %}