{% extends "base.html" %}
{% load static %}
{% load breadcrumb %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="breadcrumb" id="breadcrumb">
{% product_breadcrumb product as breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="margin-top: 15px;">
            {% for crumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ crumb.url }}">{{ crumb.name }}</a></li>
            {% endfor %}
        </ol>
    </nav>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5 border">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <h3 class="title text-dark">
                    {{ product.name }}
                </h3>
                <div class="d-flex flex-row my-3">
                    <div class="col-md-4 me-2">
                        {% if product.rating %}
                        <p class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</p>
                        {% else %}
                        <p class="text-muted">No Rating</p>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                    {% if product.quantity_in_stock %}
                    <p class="text-success mb-0 fw-bold in-stock-text">{{ product.quantity_in_stock }} in stock</p>
                    {% else %}
                    <p class="text-danger mb-0 fw-bold out-of-stock-text">Out of Stock</p>
                    {% endif %}
                    </div>
                </div>

                <div class="mb-3">
                    <p class="lead text-left fw-bold mt-0" style="font-size: 30px;"><i class="fa-solid fa-euro-sign"></i> {{ product.price }}</p>
                </div>
                <div>
                    <h6 class="title text-dark fw-bold">
                        Features
                    </h6>
                    <p>
                        {{ product.short_description|safe }}
                    </p>
                </div>

                <div class="row">
                    <dt class="col-3">Type:</dt>
                    <dd class="col-9">{{ product.product_type }}</dd>

                    <dt class="col-3">Color</dt>
                    <dd class="col-9">{{ product.product_color }}</dd>

                    {% if product.product_material %}
                    <dt class="col-3">Material</dt>
                    <dd class="col-9">{{ product.product_material }}</dd>
                    {% else %}
                    <dt class="col-3">Material</dt>
                    <dd class="col-9"> N/A </dd>
                    {% endif %}

                    <dt class="col-3">Brand</dt>
                    <dd class="col-9">{{ product.product_brand }}</dd>
                </div>

                <hr />
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row mb-4">
                        <!-- Quantity -->
                        <div class="col-md-4 col-6 mb-3">
                            <label class="mb-2 d-block">Quantity</label>
                            <div class="input-group mb-3" style="width: 170px;">
                                <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1"
                                    data-mdb-ripple-color="dark">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <input type="number" class="form-control text-center border border-secondary" name="quantity" placeholder="1"
                                    value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}" 
                                    aria-label="Quantity control buttons" aria-describedby="button-addon1" />
                                <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2"
                                    data-mdb-ripple-color="dark">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                        <div class="col-12">
                            <a href="{% url 'products' %}" class="btn btn-secondary shadow-0 border border-secondary py-2 icon-hover px-3" style="background-color: blueviolet;"><i
                                    class="fa-solid fa-angles-left" style="color: #ffffff;"></i> Continue Shopping </a>
                            <button class="btn btn-primary shadow-0 border icon-hover border border-secondary py-2 icon-hover px-3" type="submit">
                                <i class="me-1 fa fa-shopping-cart fa-lg"></i> Add to Cart
                            </button>
                            <a href="#" class="btn btn-light border border-secondary py-2 icon-hover px-3"> <i
                                    class="me-1 fa fa-heart fa-lg"></i> Save </a>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}" />
                        </div>
                </form>
            </div>
        </main>
    </div>
    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
        <div class="product-details-container mb-5 mt-md-5">
            <p>{{ product.description|safe }}</p>
        </div>
    </div>
</div>
</section>
</div>
{% endblock %}