{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% include "includes/carousel.html" %}
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font page-headers">All Products</h2>
                <div class="category-badges">
                    {% for category in current_categories|dictsort:'id' %}
                        <a class="category-badge text-decoration-none" href="{% url 'products_in_category' category_id=category.id %}">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ category.friendly_name }}</span>
                        </a>
                    {% endfor %}
                </div>
                <hr class="w-100 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="mt-2 mb-4">
                    <div class="col-12 col-md-6 my-auto order-md-last">
                        <div class="sort-select-wrapper w-50">
                            <select id="sortSelect" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}secondary{% else %}black{% endif %}" onchange="window.location.href=this.value">
                                <option value="reset" {% if not current_sorting %}selected{% endif %} selected disabled>Sort by </option>
                                <option value="{% url 'products' %}?sort=price&direction=asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price: Low to High</option>
                                <option value="{% url 'products' %}?sort=price&direction=desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price: High to Low</option>
                                <option value="{% url 'products' %}?sort=rating&direction=asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating: Low to High</option>
                                <option value="{% url 'products' %}?sort=rating&direction=desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating: High to Low</option>
                                <option value="{% url 'products' %}?sort=name&direction=asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name: A to Z</option>
                                <option value="{% url 'products' %}?sort=name&direction=desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name: Z to A</option>
                                <option value="{% url 'products' %}?sort=category&direction=asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category: A to Z</option>
                                <option value="{% url 'products' %}?sort=category&direction=desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category: Z to A</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-md-left">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border">
                                <div class="d-flex justify-content-start align-items-start h-100 m-2">
                                    <h6><span class="badge bg-danger pt-2">Hot Deal!</span></h6>
                                </div>
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-2">
                                    <p class="mb-0 fw-bold">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            {% if user.is_authenticated %}
                                            <a href="{% url 'add_to_wishlist' product.id %}" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                                            {% endif %}
                                            <p class="lead text-left fw-bold"><i class="fa-solid fa-euro-sign"></i> {{ product.price }}</p>
                                            <div class="">
                                                <div class="row">
                                                    <div class="col">
                                                        {% if product.rating %}
                                                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                                        {% else %}
                                                            <small class="text-muted">No Rating</small>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col">
                                                        {% if product.quantity_in_stock %}
                                                            <p class="text-success mb-0 fw-bold in-stock-text">{{ product.quantity_in_stock }} in stock</p>
                                                        {% else %}
                                                            <p class="text-danger mb-0 fw-bold out-of-stock-text">Out of Stock</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% if product.category %}
                                                <p class="small mt-1 mb-0">
                                                    <a class="text-muted" style="text-decoration: none;" href="{% url 'products_in_category' category_id=product.category.id %}">
                                                        <i class="fas fa-tag mr-1"></i> {{ product.category.friendly_name }}
                                                    </a>
                                                </p>
                                            {% endif %}
                                            <p class="mb-0 mt-2 text-muted"> Ref.nr: {{ product.sku }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-3">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}