<form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
    {% csrf_token %}
    <div class="form-group w-50">
        <div class="input-group mb-3" style="width: 170px;">
            <div class="input-group-prepend">
                <button class="decrement-qty btn btn-sm btn-white border border-secondary px-3" 
                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}" aria-label="decrease quantity button">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="form-control form-control-sm qty_input" type="number"
                name="quantity" value="1" min="1" max="99"
                data-item_id="{{ item.item_id }}"
                id="id_qty_{{ item.item_id }}" aria-label="Input form for product quantity">
            <div class="input-group-append">
                <button class="increment-qty btn btn-sm btn-white border border-secondary px-3"
                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}" aria-label="increase quantity button">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-12">
        <a href="{% url 'products' %}" class="btn btn-secondary shadow-0 border border-secondary py-2 icon-hover px-3" style="background-color: blueviolet;"><i
                class="fa-solid fa-angles-left" style="color: #ffffff;"></i> Continue Shopping </a>
        <button class="btn btn-primary shadow-0 border icon-hover border border-secondary py-2 icon-hover px-3" type="submit" aria-label="Add to cart button">
            <i class="me-1 fa fa-shopping-cart fa-lg"></i> Add to Cart
        </button>
        {% if user.is_authenticated %}
        <a href="{% url 'add_to_wishlist' product.id %}" class="btn btn-light border border-secondary py-2 icon-hover px-3"> <i
                class="me-1 fa fa-heart fa-lg"></i> Save </a>
        <input type="hidden" name="redirect_url" value="{{ request.path }}" />
        {% endif %}
    </div>
</form>