{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
<div class="container">
    <div class="col">
        <div class="col-md-8 mt-3 offset-md-2 text-center mb-5">

            <h1>We are sorry that you unsubscribing from us!</h1>
            <p>Thank you for your interest in our newsletter. We hope you will comeback!</p>
            <br>
            <p>Click <a href="{% url 'products' %}">here</a> to return to the home page.</p>

        </div>
    </div>
</div>

{% endblock %}
