{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row text-center mt-2 mb-0">
    <h2 class="logo-font page-headers">Wishlist</h2>
</div>
<section class="bg-light my-5 mt-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card border shadow-0">
                    <div class="m-4">
                        <!-- {% if wishlist_items|length == 0 %}
                            <h4 class="card-title mb-4">{{ user.username }} You have 0 item(s) in your wishlist.</h4>
                        {% else %}
                            <h4 class="card-title mb-4">{{ user.username }} You have {{ wishlist_items|length }} item(s) in your wishlist.</h4>
                        {% endif %} -->
                        {% if wishlist_items %}
                            {% for product in products %}
                            <div class="row gy-3 mb-4">
                                <div class="col-lg-5">
                                    <div class="me-lg-5">
                                        <div class="d-flex"> 
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}"
                                                class="border rounded me-3" style="width: 96px; height: 96px;" />
                                            <div class="">
                                                <a class="nav-link" href="{% url 'product_detail' product.id %}"
                                                    style="text-decoration: none;">
                                                    {{ product.name }}
                                                </a>
                                                <p>
                                                    <a class="text-muted small"
                                                        href="{% url 'products_in_category' category_id=product.category.id %}"
                                                        style="text-decoration: none;">
                                                        <i class="fas fa-tag mr-1"></i> 
                                                        {{ product.category.friendly_name }}
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
                                    <div class="mx-5">
                                        <text class="h6 total-price" data-row-id="{{ product.id }}">
                                            {{ product.price }}</text> <i class="fa-solid fa-euro-sign fa-sm"></i>
                                        <br />
                                        <small class="text-muted text-nowrap"> {{ product.price }} <i
                                                class="fa-solid fa-euro-sign fa-sm"></i> / per item </small>
                                    </div>
                                    <div class="col-lg col-sm-6 mb-2">
                                        <a href="{% url 'add_to_cart' product.id %}"
                                            class="btn btn-success border border-solid text-white icon-hover-info">
                                            <i class="me-1 fa fa-shopping-cart fa-lg"></i> Add to Cart
                                        </a>
                                        <a href="{% url 'remove_from_wishlist' product.id %}"
                                            class="btn btn-danger border border-solid text-white icon-hover-danger">
                                            <i class="fa-solid fa-trash"></i> Remove</a>
                                        <div class="float-md-start">
                                            <h6>Date Added: {{ item.date_added }}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            {% endfor %}
                            {% else %}
                            <p class="lead fw-bold text-center">Your wishlist is empty</p>
                            <a href="{% url 'products' %}" class="btn btn-secondary shadow-0"
                                style="background-color: blueviolet;"><i class="fa-solid fa-angles-left"
                                    style="color: #ffffff;"></i> Continue Shopping </a>
                        {% endif %}

                        <div class="border-top pt-4 mx-4 mb-4">
                            <p><i class="fas fa-truck text-muted fa-lg"></i> Fast Delivery within 3-5 days</p>
                            <p class="text-muted">
                                Fast delivery within 3-5 days after payment confirmation. If the product is not in stock
                                the delivery time is 7-15 days*. You will be informed about this via email.
                                Free return of goods within 14 days of delivery.
                                <br />
                                *The delivery time may change depending on the product availability at our suppliers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}