{% load custom_filters %}

<div class="toast fade show custom-toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="arrow-up arrow-info"></div>
    <div class="w-100 toast-capper"></div>
    <div class="toast-header bg-primary-subtle text-dark">
        <strong class="me-auto">Info!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" fdprocessedid="cqn37q"></button>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        {% if grand_total %}
            <p class="logo-font bg-white text-black py-1 fw-bold text-center">{{ product_count }} item(s) in your shopping cart</p>
            <hr>
            <div class="bag-notification-wrapper">
                {% for item in cart_items %}
                    <div class="row">
                        <div class="col-9">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                            <p class="my-0"><strong>{{ item.product.price|multiply:item.quantity }} </strong><i class="fa-solid fa-euro-sign"></i></p>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <strong>
                        <p class="mt-3 mb-1 text-black" style="font-size: 16px;">
                            Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}:
                            <span class="float-right">{{ total|floatformat:2 }} </span><i class="fa-solid fa-euro-sign"></i>
                        </p>
                    </strong>
                    {% if free_delivery_delta > 0 %}
                    <p class="mb-0 p-2 bg-warning shadow-sm text-black text-center">
                        Spend <strong>{{ free_delivery_delta }} </strong><i class="fa-solid fa-euro-sign"></i> more to get free
                    delivery!
                    </p>
                    {% endif %}
                    <a href="{% url 'view_cart' %}" class="btn btn-info bg-dark text-white w-100 shadow-0 mb-2"><i class="fas fa-shopping-bag"></i> Show My Cart </a>
                    <a href="#" class="btn btn-success w-100 shadow-0 mb-2"><i class="fa-solid fa-credit-card"></i> Proceed to Checkout </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>